.top{
    padding-top:74px;
}
.top .container{
  display:flex;
  background-color: rgba(245,222,179, 0.5);
}
.top__title{
  max-width: 700px;
  font:700 32px/40px 'Montserrat',sans-serif;
  padding:107px 129px 73px 298px;
}
.top img{
  width: 299px;
  height: 260px;
}
.top__image{
  position:relative;
  z-index:1;
}
.top__image::before, .top__image::after{
  position: absolute;
  content:'';
  background: url("../images/main/lines.svg") no-repeat;
  background-size: cover;
  z-index:-1;
}
.top__image::before{
  width: 232px;
  height: 176px;
  top:0;
  right:-58px;
  transform:rotate(90deg);
}
.top__image::after{
  width: 178px;
  height: 135px;
  bottom:0;
  left:-30px;
}

.goods{
  margin-bottom:100px;
  margin-top:50px;
}
.goods .container{
  display:flex;
  flex-wrap:wrap;
  gap:66px;
}
.goods__item{
  cursor:pointer;
  color:#000;
}
.goods__item:hover{
    transform:scale(1.1);
}
.goods__item img{
  object-fit:cover;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.goods__name{
  font:500 14px/21px 'Montserrat', sans-serif;
  padding:15px 0 5px 0;
}
.goods__price{
  font:700 16px/18px 'Montserrat',sans-serif;
}

.filter{
  margin-top:40px;
  margin-bottom:130px;
}
.filter .container{
  position:relative;
  margin-top:40px;
}
.filter__main{
  position:absolute;
  top:0;
  right:0;
  z-index:2;
}
.filter__title{
  font:500 18px/50px 'Montserrat', sans-serif;
  cursor:pointer;
  padding-left:18px;
}
.filter__title button{
  font:500 18px/50px 'Montserrat',sans-serif;
}
.main__title{
  width: 243px;
  height: 50px;
  border:2px solid #151c22;
}
.settings{
  background-color: #fff;
  border:2px solid #151c22;
  border-top:none;
}
.filter__apply{
  background-color: #FFE627;
  color:#fff;
  cursor:auto;
  margin-top:49px;
}
.filter__apply button{
  background-color: #FFE627;
  color:#fff;
}
.filter__clear{
  background-color: #fff;
  color:#151c22;
}
a.filter__clear{
    padding-left:52px;
}
.filter__price, .filter__color, .filter__collec{
  border-bottom:2px solid #f1f2f4;
}
.arrow__main::before, .arrow__price::before, .arrow__color::before, .arrow__collec::before{
  position:absolute;
  right:17px;
  content:'\f078';
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  cursor:pointer;
}
.arrow__main, .arrow__price, .arrow__color,.arrow__collec{
  position:relative;
}
/* Убираем стандартный маркер */
details summary::-webkit-details-marker {
  display: none
}
details > summary {
  list-style: none;
}
details[open].filter__main  .arrow__main::before, details[open].filter__color .arrow__color::before, details[open].filter__collec .arrow__collec::before, details[open].filter__price .arrow__price::before{
  transform:rotate(180deg);
}

.filter__apply, .filter__clear{
  width: 100%;
  text-align: center;
  padding:0;
}


/*PRICE*/
.filter__price label{
  display:block;
  font:500 14px/16px 'Montserrat', sans-serif;
  color:#151c22;
  padding:0 0 10px 18px;
}
.filter__price input[type="range"]{
  width: 207px;
  margin:0 0 23px 17px;
}
/*скрываем оригинальные стили ползунка*/
.filter__price input[type=range]  {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*добавляем свои стили для ползунка*/
input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #F1F2F4;
}
input[type=range]::-webkit-slider-thumb {
  background: #151c22;
  border-radius: 50%;
  cursor: pointer;
  width:15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top:-6px;
}
input[type=range]::-moz-range-track {
  height: 2px;
  background-color: #F1F2F4;
}
input[type=range]::-moz-range-thumb {
  background: #151c22;
  border-radius: 50%;
  cursor: pointer;
  width:15px;
  height: 15px;
  margin-top:-6px;
}

.message{
    font-size:20px;
    font-weight:500;
    text-align:center;
}